PORT=4000
DATABASE_URL="file:./dev.db"
JWT_SECRET="prism-super-secret-jwt-key-2024-india-256bit"
JWT_REFRESH_SECRET="prism-refresh-secret-jwt-key-2024-india-512bit"
FRONTEND_URL="http://localhost:3000"
NODE_ENV="development"
